.navbar {
    background-color: rgba(30, 30, 30, 0.2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    margin: 20px auto 0px auto;
    border-radius: 8px;
  }
  
  .navbar-title {
    color: white;
    font-family: monospace;
    text-align: center;
    justify-content: start;
    background-color: rgba(30, 30, 30, 0.0);
    margin-left: 1%;
  }
  